<row class="gray">
    <columns>
        <menu>
            <item href="#">My Site</item>
            <item href="#">Facebook</item>
            <item href="#">Menu Item</item>
            <item href="#">Menu Item</item>
            <item href="#">Menu Item</item>
        </menu>
    </columns>
</row>
<row class="gray">
    <columns small="12" large="12">
        <center>
            <em>(This footer added through a Handlebars partial.)</em><br><br>
            &copy;2016 Jordan Blakey
        </center>
    </columns>
</row>
